<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DeviceID" value="30621" />
    <add key="SerialNo" value="cabnap-1" />
    <add key="ActivationKey" value="00967454" />
    <add key="DeviceModelName" value="Server" />
    <add key="DeviceModelVersion" value="1.0" />
    <add key="CompanyName" value="CABNAP" />
    <add key="TestMode" value="True" />
    <add key="CertificatePath" value="C:\CUBE_FDMS\CABNAP" />
    <add key="PrivateKeyPath" value="C:\CUBE_FDMS\CABNAP" />
    <add key="P12CertificatePath" value="C:\CUBE_FDMS\CABNAP\CABNAP_30621.p12" />
    <add key="DatabasePath" value="C:\CUBE_FDMS\HOME_PARK\zimra_fiscal.db" />
    <add key="WatchFolderPath" value="C:\invoicee" />
    <add key="LogPath" value="C:\invoices\logs" />
    <add key="AutoSyncInterval" value="60" />
    <add key="FolderWatchEnabled" value="True" />
    <add key="MaxLogFiles" value="10" />
    <add key="PrintCopies" value="1" />
    <add key="AutoPrintEnabled" value="True" />
    <add key="DefaultPrinter" value="" />
  </appSettings>
</configuration> 